<h1>Список покупок</h1>
<div>
  <label for="purchase">Товар: </label>
  <input id="purchase" [(ngModel)]="purchase"  placeholder="purchase">
  <label>Цена: </label>
  <input [(ngModel)]="price" placeholder="price" type="number">
  <button (click)="addItem(purchase,price)">Добавить</button>
  <table>
    <thead>
    <tr>
      <th>Предмет</th>
      <th>Цена</th>
      <th>Куплено</th>
    </tr>
    </thead>
    <tbody>
      @for (item of items; track item.purchase) {
        <tr>
          <td>{{item.purchase}}</td>
          <td>{{item.price}}</td>
          <td><input type="checkbox" [(ngModel)]="item.done" /></td>
        </tr>
      }
    </tbody>
  </table>`
</div>
